body
{
    padding-left: 300px;
    padding-right: 650px;
    background-image: url("femme.jpg");
    background-size: cover;
    margin-top: 4rem;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: white;
}
